@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
}

/* Track */
::-webkit-scrollbar-track {
    @apply rounded;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
}

.app {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    display: grid;
    height: 100vh;
}

.app__sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: auto;
}

.app__header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.app__body {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: auto;
}
