@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
}

/* Track */
::-webkit-scrollbar-track {
    @apply rounded;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
}
